.applied {
 background-color: #FFC107; 
 color: #FFC107; 
}
.rejected{
  background-color: #E53935;
  color: #E53935;
}
.interviewing {
  background-color: #C8E6C9;
  color: #C8E6C9; 
}
.offer{
  background-color: #4CAF50;
  color: #4CAF50;
}

.ghosted{
  background-color: #1E88E5;
  color:  #1E88E5; 
}
.withdrawn {
  background-color: #9E9E9E;
  color:  #9E9E9E; 
}
*{
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden;
}